<h1>ビンゴゲーム</h1>
<div id='game-vue'></div>
<script>initVueApp.game()</script>
<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>
<p>開始時刻: <%= @game.created_at %></p>
<p>これまで引かれた数字: <%= @game.draws.join(" ") %></p>
<p><%= form_tag(game_draw_path) do %>
  <%= submit_tag("数字を引く") %>
<% end %></p>
<h2>ゲームに参加する</h2>
<svg width="200" height="200">
  <%= RQRCode::QRCode.new(card_new_url).as_svg(viewbox: true).html_safe %>
</svg>
<p><tt><%= link_to(card_new_url, card_new_path) %></tt></p>
<h2>参加中のビンゴカード</h2>
<ul>
  <% @cards.each do |card| %>
    <li>
      <%= link_to(card.id, card_with_id_path(card)) %>:
      <%= card.reaches %>リーチ、
      <% if card.bingo then %>
        <%= "#{card.bingo}回目の抽選でビンゴ" %>
        <% unless card.claimed then %>
          <%= form_tag(game_present_path(card_id: card.id)) do %>
            <%= submit_tag("賞品を渡す") %>
          <% end %>
        <% end %>
      <% else %>
        ビンゴではない
      <% end %>
    </li>
  <% end %>
</ul>
