<!DOCTYPE html>
<html>
  <head>
    <title>ビンゴゲーム</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  <hr>
  <footer>
    <p>
      Fork me on GitHub at <a href="https://github.com/zunda/simple-bingo">zunda/simple-bingo</a>
    </p>
  </footer>
  </body>
</html>
