<!DOCTYPE html>
<html>
  <head>
    <title>ビンゴゲーム</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  <hr>
  <footer>
    <p>
      Provided by simple-bingo,
      fork me at <a href="https://github.com/zunda/simple-bingo">GitHub</a>!
    </p>
  </footer>
  </body>
</html>
